
@keyframes pulse-soft {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}

.animate-pulse-soft {
  animation: pulse-soft 2s infinite;
}

.scale-down {
  transform: scale(0.96);
  transition: transform 0.3s ease-in-out;
}

.scale-up {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.scale-hover {
  transition: transform 0.3s ease-in-out;
}

.scale-hover:hover {
  transform: scale(1.05);
}
